<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd 
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
 
 	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-*.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
 
	<context:component-scan base-package="org.lenzi" />
	
	<context:annotation-config />
	
	<!-- Used for Object/JSON marshalling -->
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
	
	<!-- jax-rs service bean -->
	<bean id="sampleRestfulServiceBean" class="org.lenzi.service.cxf.jaxrs.SampleRestImpl" />
	
	<!-- jax-ws service bean -->
	<bean id="sampleSoapServiceBean" class="org.lenzi.service.cxf.jaxws.SampleSoapImpl" />	
	
	<!-- 
	JAX-RS REST Service Setup
	-->
	<jaxrs:server id="mySampleRest" address="/samplerest">
		<jaxrs:serviceBeans>
			<ref bean="sampleRestfulServiceBean"/>
		</jaxrs:serviceBeans>
		<!-- Use JacksonJsonProvider bean for Object/JSON marshalling -->
  		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<!--
			<ref bean="serviceExceptionMapper" />
			-->
		</jaxrs:providers>
	</jaxrs:server>
	
	<!-- 
	JAX-WS Soap Service Setup
	-->	
	<jaxws:endpoint
		xmlns:tns="http://samplesoap.jaxws.cxf.service.lenzi.org/"
		id="mySampleSoap"
		endpointName="tns:SampleSoapImplPort"
		serviceName="tns:SampleSoapImplService"
		address="/SampleSoapImplPort">
		<jaxws:implementor> 
        	<bean parent="sampleSoapServiceBean" /> 
        </jaxws:implementor>		
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>	
 
</beans>